
<body>
  <div style="background-color: yellow;">
    <header>

    </header>
    <main>
      <img src="https://i.imgur.com/GrQL7Tz.png" height="100px" width="100px" style="margin-left:900px;">
      <div style="text-align: center;margin-top: 10em;">
        <iframe  src="https://open.spotify.com/embed/playlist/37i9dQZF1DWYnx77Gg1Rgu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <p style="color: white;margin: 200px 175px 399px 625px;font-size: 100px;font-family: 'Bebas Neue';">Look mom i can fly</p>
      <div id = "like_button_container">

      </div>
    </main>
    <footer>

    </footer>
  </div>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="./js/like_button.js"></script>

</body>
